:root {
  --max-width-xxs: 327px;
  --max-width-xs: 528px;
  --max-width-sm: 728px;
  --max-width-md: 952px;
  --max-width-lg: 1160px;
  --max-width-xl: 1240px;
}

$sizers: (
  xxs:    var(--max-width-xxs),
  xs:     var(--max-width-xs),
  sm:     var(--max-width-sm),
  md:     var(--max-width-md),
  lg:     var(--max-width-lg),
  xl:     var(--max-width-xl)
);
