// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/spacing

// --------------------------------

:root {
  --space-unit: 20px;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.5 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));
  --space-xxl: calc(4 * var(--space-unit));
  --space-xxxl: calc(6 * var(--space-unit));
  --space-xxxxl: calc(8 * var(--space-unit));
  --space-xxxxxl: calc(12 * var(--space-unit));
  --component-padding: var(--space-md);

  // Dont change this settings
  --n-space-xxxxs: calc(-1 * var(--space-xxxxs));
  --n-space-xxxs: calc(-1 * var(--space-xxxs));
  --n-space-xxs: calc(-1 * var(--space-xxs));
  --n-space-xs: calc(-1 * var(--space-xs));
  --n-space-sm: calc(-1 * var(--space-sm));
  --n-space-md: calc(-1 * var(--space-md));
  --n-space-lg: calc(-1 * var(--space-lg));
  --n-space-xl: calc(-1 * var(--space-xl));
  --n-space-xxl: calc(-1 * var(--space-xxl));
  --n-space-xxxl: calc(-1 * var(--space-xxxl));
  --n-space-xxxxl: calc(-1 * var(--space-xxxxl));
  --n-space-xxxxxl: calc(-1 * var(--space-xxxxxl));

  // Padding according to container width
  --container-padding: var(--component-padding);
}

@supports (--css: variables) {
  :root {
    @include breakpoint(sm) {
      --container-padding: calc((100vw - var(--max-width-xs)) / 2);
    }

    @include breakpoint(md) {
      // --space-unit:  1.25em;
      --container-padding: calc((100vw - var(--max-width-sm)) / 2);
    }

    @include breakpoint(lg) {
      --container-padding: calc((100vw - var(--max-width-md)) / 2);
    }

    @include breakpoint(xl) {
      --container-padding: calc((100vw - var(--max-width-lg)) / 2);
    }

    @include breakpoint(xxl) {
      --container-padding: calc((100vw - var(--max-width-xl)) / 2);
    }
  }
}

$spacers: (
  default:  var(--space-unit),
  xxxxs:    var(--space-xxxxs),
  xxxs:     var(--space-xxxs),
  xxs:      var(--space-xxs),
  xs:       var(--space-xs),
  sm:       var(--space-sm),
  md:       var(--space-md),
  lg:       var(--space-lg),
  xl:       var(--space-xl),
  xxl:      var(--space-xxl),
  xxxl:     var(--space-xxxl),
  xxxxl:    var(--space-xxxxl),
  xxxxxl:   var(--space-xxxxxl),
  auto:     auto,
  0:        0
);

// --------------------------------

// (END) Global Editor Code

// --------------------------------
