<section id="home-hero" class="hero section--tall padding-y-xxl" data-bg="url('/img/objects/bg-home-1.jpg')">
  <div class="container">
    <div class="max-width-600">
      <div class="text-component margin-bottom-xl">
        <h1 class="text-color-primary to-animate">Collaborate With <br> Expert Marketers, <br> On Demand</h1>
        <p class="text-lg to-animate display@sm" data-animate="up" data-delay="1">Build your brand, pay as you grow with <br /> our subscription marketing service</p>
        <p class="text-lg to-animate hide@sm" data-animate="up" data-delay="2">Build your brand, pay as you <br> grow with our subscription <br> marketing service</p>
      </div>
  
      <div class="to-animate" data-animate="up" data-delay="3">
        <a href="#our-plans" class="btn btn--primary padding-x-md text-lg">View Our Plans <img src="/img/objects/arrow.png" class="arrow" alt=""></i></a>
      </div>
    </div>
  </div>
</section>