{% set categories = [
  {
    label: "Organic",
    slug: "organic",
    products: [
      {
        slug: "product-organic-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-organic-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-organic-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-organic-4",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-organic-5",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-organic-6",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  },
  {
    label: "Coffee",
    slug: "coffee",
    products: [
      {
        slug: "product-coffee-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-coffee-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-coffee-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-coffee-4",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-coffee-5",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  },
  {
    label: "Sea Food",
    slug: "sea-food",
    products: [
      {
        slug: "product-sea-food-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-4",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-5",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-6",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-7",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-sea-food-8",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  },
  {
    label: "Nuts",
    slug: "nuts",
    products: [
      {
        slug: "product-nuts-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-nuts-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-nuts-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-nuts-4",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  },
  {
    label: "Spices",
    slug: "spices",
    products: [
      {
        slug: "product-spices-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-4",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-5",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-6",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-7",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-8",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-9",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-10",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-11",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-spices-12",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  },
  {
    label: "Instant Soups",
    slug: "instant-soups",
    products: [
      {
        slug: "product-instant-soups-1",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-instant-soups-2",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      },
      {
        slug: "product-instant-soups-3",
        image: "/img/objects/product.png",
        imagePopup: "/img/objects/modal.jpg",
        title: "The Coldest Sunset",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque,",
        download: {
          label: "Download Specs Sheet",
          url: ""
        },
        cta: "More Detail"
      }
    ]
  }
] %}

<section id="products" class="section">
  <div class="section__inner container padding-y-xxl">
    <div class="grid grid-gap-xxxl justify-content-end">
      <div class="col-9@md">
        <div class="grid grid-gap-xxl justify-content-between">
          <div class="col-5@lg">
            <h2 class="text-xxxl section__title">Product<br><span>Offering</span></h2>
          </div>
          <div class="col-7@lg">
            <div class="text-component margin-top-xxxl@lg">
              <h4>High quality directly from the makers</h4>
              <p>PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1 display@md"></div>

      <div class="col-12">
        <div class="tabs js-tabs">
          <ul class="d-flex flex-wrap grid-gap-lg justify-content-center js-tabs__controls tabs--products padding-bottom-md" aria-label="Tabs Interface">
            {# <li><a href="#tab1Panel1" class="tabs__control">Tab 1</a></li> #}
            {% for item in categories %}
              <li><a href="#tab_panel_{{ item.slug }}" aria-selected="{{ 'true' if loop.index0 == 0 else 'false' }}" class="tabs__control">{{ item.label }}</a></li>
            {% endfor %}
          </ul>

          <div class="js-tabs__panels">
            {% for item in categories %}
              <div id="tab_panel_{{ item.slug }}" class="padding-top-md js-tabs__panel">
                <div id="products-slider-{{ item.slug }}" class="products-slider slider-wrapper">
                  <div class="tns-slider">
                    {% for product in item.products %}
                      <div class="slider-item">
                        <div class="card card--product">
                          <div class="padding-x-xl">
                            <div class="crop crop--fit product__image">
                              <img data-src="{{ product.image }}" alt="{{ product.title }}" class="crop__content">
                            </div>
                          </div>

                          <div class="card__content text-center bg-default rounded padding-md" data-theme="accent">
                            <div class="text-component margin-bottom-md">
                              <img data-src="/img/icons/ic-leaf.svg" alt="leaf">
                              <p class="text-md font-heading text-color-primary-darker">{{ product.title }}</p>
                              <p>{{ product.description }}</p>
                            </div>

                            <div class="d-flex flex-column grid-gap-y-sm align-items-center">
                              <a href="{{ product.download.url }}" class="d-flex align-items-center text-color-accent font-weight-bold" download><i class="fas fa-download margin-right-sm"></i>{{ product.download.label }}</a>
                              <div><a href="" aria-controls="modal_{{ product.slug }}" class="btn btn--primary btn--sm text-capitalize">{{ product.cta }}</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>

                  <div class="tns-controls">
                    <button class="tns-controls--prev text-color-primary display@md">
                      <i class="fal fa-arrow-left"></i>
                    </button>

                    <button class="tns-controls--next text-color-primary">
                      <i class="fal fa-arrow-right"></i>
                    </button>
                  </div>
                </div>

                {% for product in item.products %}
                  <div class="modal js-modal" id="modal_{{ product.slug }}" data-animation="on">
                    <div class="modal__content max-width-lg" role="alertdialog" tabindex="-1" aria-labelledby="modal_{{ product.slug }}_title" aria-describedby="modal_{{ product.slug }}_description">
                      <div class="modal__body padding-0">
                        <img data-src="{{ product.imagePopup }}" alt="popup">
                      </div>
                    </div>

                    <button class="reset modal__close-btn js-modal__close js-tab-focus">
                      <svg class="icon" viewBox="0 0 16 16"><title>Close modal window</title><g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
                    </button>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>