<section id="section-follow" class="section" style="background-image: url('/img/objects/together2.png');" data-theme="primary">
  <div class="section__inner section--tall container">
    <div class="d-flex justify-content-center align-items-center height-100%">
      <div class="max-width-sm margin-x-auto text-center">
        <div class="section__heading margin-bottom-xxl@lg margin-bottom-xl to-animate">
          <h2 class="margin-x-md margin-x-xs@md">Let’s get more<br>marketing done, <span>together</span></h2>
        </div>

        <ul id="follow-icon" class="text-xxl to-animate" data-delay="1">
          <li class="list-inline-item">
            <a href="/" target="_blank">
              <img class="svg-inline--fa" src="/img/objects/fb-icon.png" alt="">
            </a>
          </li>

          <li class="list-inline-item">
            <a href="/" target="_blank">
              <img class="svg-inline--fa" src="/img/objects/instagram-icon.png" alt="">
            </a>
          </li>

          <li class="list-inline-item">
            <a href="/" target="_blank">
              <img class="svg-inline--fa" src="/img/objects/linkedin-icon.png" alt="">
            </a>
          </li>

          <li class="list-inline-item">
            <a href="/" target="_blank">
              <img class="svg-inline--fa" src="/img/icons/social-icon.png" alt="">
            </a>
          </li>

          <li class="list-inline-item">
            <a href="/" target="_blank">
              <img class="svg-inline--fa" src="/img/icons/message-icon.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>