{% set why = [
  {
    title: "Direct From The Maker",
    description: "PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli."
  },
  {
    title: "Bespoke Farming Capabilities",
    description: "PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli."
  },
  {
    title: "Competitive pricing ",
    description: "PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli."
  },
  {
    title: "On-site quality assurance ",
    description: "PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli."
  },
  {
    title: "California and Vietnam",
    description: "PT Serif: Pt Serif has a strong base, easy to read at small size and low contrast. The Square Base makes a nice contrast with round geometric of Muli."
  }
] %}

<section id="why-us" class="section">
  <div class="section__inner container padding-y-xxl">
    <div class="grid grid-gap-xxl">
      <div class="col-1 display@md"></div>

      <div class="col-9@md">
        <h2 class="text-xxxl section__title">What makes us<br><span>Different?</span></h2>
      </div>

      <div class="col-12">
        <div class="margin-left-n-container@lg">
          <div class="grid">
            <div class="col-6@lg">
              <img src="/img/objects/why-us-bg.png" alt="different">
            </div>
            <div class="col-5@lg margin-left-auto">
              {% for item in why %}
                <div class="text-component {{ 'margin-bottom-xl' if loop.index < why.length else '' }}">
                  <h4>{{ item.title }}</h4>
                  <p>{{ item.description }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>