{% set about = [
  {
    image: "/img/objects/partners.png",
    number: "30+",
    label: "Local Partners"
  },
  {
    image: "/img/objects/clients.png",
    number: "40+",
    label: "Satisfied Clients"
  },
  {
    image: "/img/objects/containers.svg",
    number: "50+",
    label: "Containers Shipped A Year"
  },
  {
    image: "/img/objects/experience.png",
    number: "50+",
    label: "Years Experience "
  }
] %}

<section class="section">
  <div class="section__inner container padding-y-xxl">
    <div class="grid grid-gap-xxl justify-content-center">
      <div class="col-10@md">
        <h2 class="text-xxxl section__title">About <span>Us</span></h2>
      </div>

      <div class="col-10@md">
        <div class="grid grid-gap-lg@md grid-gap-xxl">
          {% for item in about %}
            <div class="col-3@lg col-6@md">
              <div class="about-item">
                <img data-src="{{ item.image }}" alt="{{ item.label }}" class="about__image d-block margin-0@md margin-left-auto">

                <div class="about__content">
                  <div class="text-component">
                    <h2 class="text-xxxl text-color-accent">{{ item.number }}</h2>
                    <p class="font-weight-bold">{{ item.label }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>