{% set testimonials = {
  content: "It took courage to try StartScale and the results are worth it! Now, I can focus on other operations while being regulary kept in the loop by their Marketing Manager on brand updates!",
  avatar: "/img/objects/testimonials.jpg",
  name: "James Arthur",
  title: "Art Director"
} %}

<section class="section order-top overflow-visible">
  <div class="section__innner container padding-y-xxxl@lg padding-y-xl">
    <div class="section__heading max-width-md margin-x-auto text-center margin-bottom-xxl">
      <h2 class="text-color-accent margin-bottom-xxl to-animate" data-animate="up">3 simple steps to start scaling</h2>
      <hr class="divider">
    </div>

    <div class="grid grid-gap-lg steps-wrapper max-width-md margin-x-auto">
      <div class="col@lg">
        <div class="step-item">
          <div class="step__icon">
            <div class="crop crop--fit">
              <img data-src="/img/objects/step-1.svg" alt="step1" class="crop__content crop__content-contain">
            </div>
          </div>

          <div class="step__content">
            <span></span>
            <p>Choose a plan to access our pro marketers and private marketplace</p>
          </div>
        </div>
      </div>

      <div class="col@lg">
        <div class="step-item">
          <div class="step__icon">
            <div class="crop crop--fit">
              <img data-src="/img/objects/step-2.svg" alt="step2" class="crop__content crop__content-contain">
            </div>
          </div>

          <div class="step__content">
            <span></span>
            <p>Chat with a Marketing Manager to plan your brand growth</p>
          </div>
        </div>
      </div>

      <div class="col@lg">
        <div class="step-item">
          <div class="step__icon">
            <div class="crop crop--fit">
              <img data-src="/img/objects/step-3.svg" alt="step3" class="crop__content crop__content-contain">
            </div>
          </div>

          <div class="step__content">
            <span></span>
            <p>Power your business with exceptional and affordable content creation</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section__innner container padding-top-lg@lg padding-top-md padding-bottom-0">
    <div class="section__heading max-width-md margin-x-auto text-center margin-bottom-xxxxl@lg margin-bottom-lg">
      <h2 class="text-color-primary to-animate" data-animate="type">Efficient, reliable support gives you<br>the marketing help you need,<br>when you need it</h2>
    </div>

    <div id="slider-testimonials" class="slider-wrapper slider-overflow-visible margin-bottom-n-xxxxl@lg margin-bottom-n-xxl@md margin-x-0@md margin-x-n-container to-animate" data-animate="up">
      <div class="tns-slider">
        {% for item in range(0, 3) %}
          <div class="slider-item">
            <div class="testimonials-item bg-white" data-theme="default">
              <p>{{ testimonials.content }}</p>

              <div class="testimonials__author">
                <img data-src="{{ testimonials.avatar }}" alt="" class="rounded-circle">

                <div class="text-component">
                  <p class="font-weight-bold text-color-black">{{ testimonials.name }}</p>
                  <p>{{ testimonials.title }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="tns-controls">
        <button class="btn--slider prev">
          <img data-src="/img/icons/ic-prev.svg" alt="prev">
        </button>

        <button class="btn--slider next">
          <img data-src="/img/icons/ic-next.svg" alt="next">
        </button>
      </div>
    </div>
  </div>
</section>