<section id="no-agency" class="section position-relative padding-top-xxxxl@lg padding-top-xl@md" data-theme="primary">
  <div class="section__inner position-static container section--tall padding-top-xxxl@lg padding-bottom-xxxxl@lg padding-y-xl">
    <div class="d-flex align-items-end@lg align-items-center max-width-md margin-x-auto height-100%">
      <picture>
        <source media="(min-width: 990px)" data-srcset="/img/objects/no-agency.png">
        <img data-src="/img/objects/no-agency-mobile.jpg" style="left: 0; top: 0; width: 100%; height: 100%;" alt="decor" class="position-absolute left-0@md">
      </picture>

      <!-- <picture>
        <source media="(min-width: 769px)" data-srcset="/img/objects/home-5-decor.svg">
        <img data-src="/img/objects/home-5-decor.svg" style="left: 50%; top: calc(var(--space-xxl) + 60px); width: 70px;" alt="decor" class="position-absolute left-0@md position-center-x">
      </picture> -->

      <div class="section__heading text-center margin-bottom-xxl@lg margin-x-auto">
        <h2 class="to-animate display@sm" data-animate="up">Save time and money with <br> your own personal, pro marketer.<br><span>No agency hassles</span></h2>

        <h2 class="to-animate hide@sm text-center" data-animate="up">Save time and money <br> with your own <br> personal, pro marketer.<br><span>No agency hassles</span></h2>
      </div>
    </div>
  </div>
</section>