<section class="section padding-top-xxxxl@lg padding-top-xl@md" data-bg="url('/img/objects/bg-home-5.jpg')" data-theme="primary">
  <div class="section__inner container height-100vh padding-y-xxxxl@lg padding-y-xl">
    <div class="position-relative d-flex align-items-end@lg align-items-center max-width-md margin-x-auto height-100%">
      <picture>
        <source media="(min-width: 768px)" data-srcset="/img/objects/home-5-decor.svg">
        <img data-src="/img/objects/home-5-decor-mobile.svg" alt="decor" class="position-absolute top-0 left-0@md position-center-x">
      </picture>

      <div class="section__heading text-center">
        <h2 class="to-animate" data-animate="up">Save time and money with your own personal, pro marketer.<br><span>No agency hassles.</span></h2>
      </div>
    </div>
  </div>
</section>