{% set contact = [
  {
    title: "US OFFICE",
    address: "993 Sage Street Ravenna, OH 44266",
    phone: "+1-202-555-0170",
    mail: "us@doexports.com"
  },
  {
    title: "VIET NAM OFFICE",
    address: "252 Nguyen Van Huong, Ward Thao Dien, Dist. 2, HCMC",
    phone: "+1-202-555-0170",
    mail: "vn@doexports.com"
  }
] %}

<section id="contact" class="section border-default border-bottom">
  <div class="section__inner container padding-y-xxl">
    <div class="grid grid-gap-xxl justify-content-center">
      <div class="col-10@md">
        <h2 class="text-xxxl section__title">Just <span>Say hello!</span></h2>
      </div>

      <div class="col-10@md">
        <div class="grid grid-gap-default@md grid-gap-xxxl justify-content-between">
          <div class="col-5@xl col-6@md">
            <form action="" method="post">
              <legend class="margin-bottom-md"><h4 class="text-uppercase">Drop us a line</h4></legend>
              <div class="margin-bottom-md">
                {# <label class="form-label margin-bottom-xxs" for="contactName">Name</label> #}
                <input class="form-control width-100%" type="text" name="contactName" id="contactName" placeholder="Name" required>
              </div>
          
              <div class="margin-bottom-md">
                {# <label class="form-label margin-bottom-xxs" for="contactEmail">Email</label> #}
                <input class="form-control width-100%" type="email" name="contactEmail" id="contactEmail" placeholder="Email" required>
              </div>
          
              <div class="margin-bottom-md">
                {# <label class="form-label margin-bottom-xxs" for="contactMessage">Message</label> #}
                <textarea class="form-control width-100%" rows="9" name="contactMessage" id="contactMessage" placeholder="Message"></textarea>
              </div>
            
              <div class="">
                <button class="btn btn--primary btn--sm" type="submit">Submit</button>
              </div>
            </form>
          </div>

          <div class="col-5@md">
            {% for item in contact %}
              <div class="text-component font-weight-bold {{ 'margin-bottom-xxxl' if loop.index < contact.length else '' }}">
                <h4 class="text-uppercase">{{ item.title }}</h4>
                <p>{{ item.address }}</p>
                <p><a href="tel:{{ item.phone }}">{{ item.phone }}</a></p>
                <p><a href="mailto:{{ item.mail }}">{{ item.mail }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>