<section id="our-plans" class="section">
  <div class="section__inner container padding-y-xxxxl@lg padding-y-xl">
    <div class="section__heading max-width-md margin-x-auto text-center margin-bottom-xxl@lg margin-bottom-md">
      <h2 class="padding-x-md padding-x-xs@md text-color-accent margin-bottom-xxl@lg margin-bottom-md to-animate" data-animate="up">Choose a plan to start scaling</h2>
      <hr class="divider margin-bottom-xxl@lg margin-bottom-md to-animate" data-animate="up">
      <p class="text-lg font-weight-bold text-color-black to-animate">One flat monthly fee. No contracts, no hidden fees. Cancel anytime.</p>
    </div>

    <div class="grid grid-gap-xxxl@xl grid-gap-xl@lg grid-gap-md">
      <div class="col@lg">
        <div class="plan-item to-animate" style="background-repeat: no-repeat; background-size: cover;" data-bg="url('img/objects/pricing-background.png')">
          <header class="plan__header">
            <p class="plan__title">BASIC PLAN MONTHLY</p>
            <div class="plan__price-wrapper" >
              <span class="plan__price">$478</span>
              <span class="divider">/</span>
              <span>month</span>
            </div>
            <p class="plan__guarantee text-color-primary text-bold margin-bottom-md">&nbsp;</p>
          </header>

          <div class="plan__content">
            <div class="text-component">
              <p class="text-lg text-color-black font-weight-bold margin-bottom-md">Perfect for small businesses &amp; startups</p>
              <p>Included</p>
              <ul class="plan__features-list">
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>4 hours consultation</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Basic marketing plan</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Dashboard reporting</span>
                </li>
                <li class="display@sm"> 
                  <span>&nbsp;</span>
                </li>
              </ul>

              <hr class="margin-top-xl@lg margin-top-0 margin-bottom-lg@lg margin-y-xs">

              <p>Your choice of</p>
              <ul class="plan__features-list margin-bottom-md">
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>4 social media posts that inspire your audience to act</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Monthly copywriting (up to 800 words)</span>
                </li>
              </ul>

              <p>We're launching soon</p>

              <a href="" class="btn btn--primary">Get me in Waiting List <img src="/img/objects/arrow.png" class="arrow" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col@lg">
        <div class="plan-item to-animate" style="background-repeat: no-repeat; background-size: cover;" data-bg="url('/img/objects/pricing-background.png')">
          <header class="plan__header">
            <p class="plan__title">MAX PLAN MONTHLY</p>
            <div class="plan__price-wrapper">
              <span class="plan__price">$878</span>
              <span class="divider">/</span>
              <span>month</span>
            </div>
            <p class="plan__guarantee text-color-primary margin-bottom-md">14-day satisfaction guarantee</p>
          </header>

          <div class="plan__content">
            <div class="text-component">
              <p class="text-lg text-color-black font-weight-bold margin-bottom-md">Scale with maximum power & freedom</p>
              <p>Included</p>
              <ul class="plan__features-list">
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Unlimited consultation</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Basic marketing plan</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Content calendar & publishing</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Dashboard reporting</span>
                </li>
              </ul>

              <hr class="margin-top-xl@lg margin-top-0  margin-bottom-lg@lg margin-y-xs">

              <p>Your choice of</p>
              <ul class="plan__features-list margin-bottom-md">
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Unlimited social media posts, including GIFs</span>
                </li>
                <li>
                  <img data-src="/img/icons/ic-check.svg" alt="check">
                  <span>Monthly copywriting</span>
                </li>
              </ul>

              <p>We're launching soon</p>

              <a href="" class="btn btn--primary">Get me in Waiting List <img src="/img/objects/arrow.png" class="arrow" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>