<section class="section bg-default section--contact">
  <div class="section-inner container padding-y-xxxxl@lg padding-y-xl">
    <div class="grid grid-gap-xxxxl@lg grid-gap-xl">
        <div class="col-6@lg container">
          <h2 class="text-center text-left@lg text-color-accent margin-bottom-xl@lg margin-y-md">Talk to a sales representative</h2>
          <p class="text-center text-left@lg">Have questions about pricing, plans, or Startscale? Fill out the form and a sales representative will be in touch shortly. </p>
          <img class="padding-x-xxl padding-x-0@lg display-block" src="/img/objects/plane.png" alt="contact form">
        </div>
        <div class="col-6@lg">
          <form class="padding-xl@lg padding-x-container margin-0@lg margin-x-n-container rounded-xl@lg" action="/blog" method="get">
            <fieldset>
              <legend class="font-weight-bold text-color-primary margin-bottom-lg text-center text-left@lg">Happy to assist you</legend>
              <div class="form-item">
                <label for="full_name">Full Name</label>
                <input type="text" id="full_name" name="full_name">
              </div>
              <div class="form-item">
                <label for="organisation">Organisation Name </label>
                <input type="text" id="organisation" name="organisation">
              </div>
              <div class="form-item">
                <label for="email">Work Email</label>
                <input type="text" id="email" name="email">
              </div>
              <div class="form-item">
                <label for="phone_number">Phone Number</label>
                <div class="d-flex style-inline">
                  <select name="phone_code">
                    <option value="+65" data-flat="">+65</option>
                    <option value="+84" data-flat="">+84</option>
                  </select>
                  <input type="text" id="phone_number" name="phone_number">
                </div>
              </div>
              <div class="form-item">
                <label for="company_size">Company Size</label>
                <input type="text" id="company_size" name="company_size">
              </div>
              <div class="form-item">
                <label for="subject">How can we help you?</label>
                <select type="text" id="subject" name="subject">
                  <option value="Select...">Select...</option>
                  <option value="I like to understand how Startscale will work with us." data-flat="">I like to understand how Startscale will work with us.</option>
                  <option value="I like to know which plan is suitable for my company." data-flat="">I like to know which plan is suitable for my company.</option>
                  <option value="I have a question about being a Marketer at Startscale. " data-flat="">I have a question about being a Marketer at Startscale. </option>
                </select>
              </div>
              <div class="form-item text-center margin-top-lg">
                <bottom class="btn btn--primary">Send <svg class="svg-inline--fa fa-chevron-right fa-w-10 margin-left-sm" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fas fa-chevron-right margin-left-sm"></i> --></bottom>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
</section>