<section class="section bg-default section--contact">
  <div class="section-inner container padding-y-xxxl@lg padding-top-lg padding-bottom-0">
    <div class="grid grid-gap-xxxxl@xl grid-gap-xxl@lg grid-gap-md justify-content-end@lg">
        <div class="col-5@lg">
          <h2 class="text-center text-left@lg text-color-accent margin-bottom-xl@lg margin-y-md">Talk to a sales representative</h2>
          <p class="text-center text-left@lg">Have questions about pricing, plans, or Startscale? Fill out the form and a sales representative will be in touch shortly. </p>
          <img class="padding-x-xxl padding-x-0@lg display-block" src="/img/objects/plane.png" alt="contact form">
        </div>
        <div class="col-6@lg">
          <form action="/" method="get" class="padding-xl@lg padding-top-lg padding-x-container padding-bottom-xxxl margin-0@lg margin-x-n-container rounded-xl@lg bg-white">
            <fieldset>
              <legend class="text-lg font-weight-bold text-color-primary margin-bottom-lg text-center text-left@lg">Happy to assist you</legend>
              <div class="form-item text-center text-left@md">
                <label for="full_name">Full Name</label>
                <input type="text" id="full_name" name="full_name" placeholder="Enter your full name">
              </div>
              <div class="form-item text-center text-left@md">
                <label for="organisation">Organisation Name </label>
                <input type="text" id="organisation" name="organisation" placeholder="Enter your organisation name">
              </div>
              <div class="form-item text-center text-left@md">
                <label for="email">Work Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your work email">
              </div>
              <div class="form-item text-center text-left@md">
                <label for="phone_number">Phone Number</label>
                <div class="d-flex style-inline">
                  <div class="custom-select custom-select--sm">
                    <select name="phone_code">
                      {# FOR PLACEHOLDER ONLY #}
                      <option value="" data-thumbnail="/img/objects/flag-sp.png" disabled>+65</option>
                      {# /FOR PLACEHOLDER ONLY #}
                      <option value="+65" data-thumbnail="/img/objects/flag-sp.png" data-flat="">+65</option>
                      <option value="+84" data-thumbnail="/img/objects/flag-sp.png" data-flat="">+84</option>
                    </select>
                  </div>
                  <input type="text" id="phone_number" name="phone_number">
                </div>
              </div>
              <div class="form-item text-center text-left@md">
                <label for="company_size">Company Size</label>
                <input type="text" id="company_size" name="company_size" placeholder="Enter your company size">
              </div>
              <div class="form-item text-center text-left@md">
                <label for="subject">How can we help you?</label>
                <div class="custom-select">
                  <select type="text" id="subject" name="subject">
                    {# FOR PLACEHOLDER ONLY #}
                    <option value="Select..." disabled selected>Select...</option>
                    {# /FOR PLACEHOLDER ONLY #}
                    <option value="I like to understand how Startscale will work with us." data-flat="">I like to understand how Startscale will work with us.</option>
                    <option value="I like to know which plan is suitable for my company." data-flat="">I like to know which plan is suitable for my company.</option>
                    <option value="I have a question about being a Marketer at Startscale. " data-flat="">I have a question about being a Marketer at Startscale. </option>
                  </select>
                </div>
              </div>
              <div class="form-item text-center text-left@md text-center margin-top-lg">
                <bottom class="btn btn--primary">Send <i class="fas fa-chevron-right margin-left-sm icon-thin"></i></bottom>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
</section>