<section class="section section--sign-up">
  <div class="section__inner width-100%">
    <div class="grid">
      <div class="col-6@md section--fullScreen" data-bg="url('/img/objects/sign-up.jpg')" style="background-size: cover; background-position: top; background-repeat: no-repeat;" data-theme="primary">
        <div class="d-flex flex-column align-items-start padding-x-container padding-y-xl height-100% text-left@md text-center">
          <picture>
            <source media="(min-width: 992px)" data-srcset="/img/objects/decor-sign-up.svg">
            <img data-src="/img/objects/decor-sign-up-mobile.svg" alt="" class="margin-bottom-xxxl@lg margin-bottom-md">
          </picture>
          <h2 class="align-self-start@lg align-self-center text-color-primary max-width-400@lg display@sm">Make<br>great money<br>with your<br>marketing mind</h2>
          <h2 class="align-self-start@lg align-self-center text-color-primary max-width-400@lg hide@sm">Make great money<br>with your<br>marketing mind</h2>
        </div>
      </div>
      <div class="col-6@md">
        <div class="padding-x-container padding-y-xl@lg padding-y-md">
          <div class="text-left@lg text-center">
            <h2 class="text-color-primary">Sign Up</h2>
            <a href="/" target="_blank" class="sign-up-icon margin-y-lg"><i class="fab fa-linkedin-in"></i></a>
          </div>

          <div class="text-component margin-bottom-xl">
            <p>Make the most of your marketing knowledge by joining our new platform built for Marketing Managers. We help you earn smarter and support you like a partner.</p>
            <br>
            <p>If you have a spare 3 to 8 hours per month, spend them on StartScale. The more hours you put in, the more money you make.</p>
            <br>
            <p>If you’re a talented Marketing Manager with the skills to consult businesses and help brands grow, please send your resume to:</p>
            <a href="mailto:marketers@startscale.io" class="d-flex align-items-center font-weight-bold text-color-default text-decoration-none"><img data-src="/img/icons/ic-mail.svg" alt="mail" class="margin-right-xs margin-left-0">marketers@startscale.io</a>
          </div>

          <form action="/login" method="get" class=" margin-top-xxl@lg margin-top-lg max-width-400">
            <fieldset>
              <div class="form-item">
                <input type="text" id="full_name" name="full_name" placeholder="Enter your name">
              </div>
              <div class="form-item">
                <input type="email" id="email" name="email" placeholder="Enter your email">
              </div>
              <div class="form-item">
                <input type="text" id="company_size" name="company_size" placeholder="Place of Residence">
              </div>
              <div class="form-item text-center margin-top-lg d-flex flex-row@lg flex-column align-items-center justify-content-between">
                <div class="margin-bottom-md margin-0@lg">
                  <label for="resume" class="d-flex align-items-center font-weight-bold text-color-black cursor-pointer">
                    <img data-src="/img/icons/ic-upload.svg" alt="upload" class="margin-right-xs margin-left-0">
                    
                    <span class="text-underline-lower">
                      Upload resume
                    </span> 
                  </label>
                  <input type="file" name="resume" id="resume" class="hide">
                </div>
                <button class="btn btn--primary" type="submit">Send <img src="/img/objects/arrow.png" class="arrow" alt=""></button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>