.steps-wrapper {
  counter-reset: count;
}

.step-item {
  counter-increment: count;

  .step__icon {
    margin: 0 auto var(--space-xs);
    width: 80px;

    @include breakpoint(lg) {
      margin-bottom: var(--space-lg);
      margin-left: var(--space-xxl);
    }
  }

  .step__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > span {
      position: relative;
      margin-bottom: var(--space-sm);
      color: var(--color-accent);
      font-size: var(--text-lg);
      font-weight: bold;

      &::before {
        content: '0'counter(count);
        display: inline-block;
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: var(--radius-sm);
        background-color: var(--color-accent);
        transform: translateY(-50%);
      }
    }

    @include breakpoint(lg) {
      flex-direction: row;
      align-items: start;
      text-align: left;

      > span {
        margin-right: var(--space-md);
      }
    }
  }
}
