{% set footer = [
  {
    logo: "/img/objects/logo-vida.png",
    text: "Our people are passionate and driven, they’re good people who like to create awesome things."
  },
  {
    logo: "/img/objects/logo-doe.png",
    text: "Our people are passionate and driven, they’re good people who like to create awesome things."
  },
  {
    logo: "/img/objects/logo-white-label.svg",
    text: "Our people are passionate and driven, they’re good people who like to create awesome things."
  }
] %}

<section class="section bg-default" data-theme="accent">
  <div class="section__inner container padding-y-xxl@lg padding-y-xl">
    <div class="grid grid-gap-md justify-content-between">
      <div class="col-2@md">
        <a href="/">
          <img data-src="/img/alt-logo.svg" alt="logo">
        </a>
      </div>

      <div class="col-7@lg col-9@md">
        <div class="grid grid-gap-md">
          <div class="col-8@md">
            <p class="text-sm">Not ready to start right now? Sign up for StartScale updates and exclusive offers. We’re here for you when you’re ready.</p>
          </div>

          <div class="col-4@md">
            <a href="/sign-up.html" class="btn btn--primary">Sign Up <i class="fas fa-chevron-right margin-left-sm"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-default" data-theme="primary">
  <div class="section__inner container padding-y-xl">
    <div class="grid grid-gap-xxl@xl grid-gap-lg padding-bottom-md@lg padding-bottom-xxl">
      <div class="col-4@lg">
        <p class="text-sm margin-bottom-0@lg margin-bottom-xs">Start small and scale comfortably with expert marketing solutions.</p>
        <p class="hide@lg"><a href="#" class="text-sm font-weight-bold text-color-primary text-underline">Subscribe today and stay on budget</a></p>
      </div>

      <div class="col-4@lg">
        <div class="grid grid-gap-lg">
          <div class="col-4">
            <p class="text-uppercase text-sm margin-bottom-0@lg margin-bottom-xs">About us</p>
            <p class="hide@lg text-sm font-weight-bold">Our Expert</p>
          </div>

          <div class="col-8">
            <p class="text-uppercase text-sm margin-bottom-0@lg margin-bottom-xs">Follow us</p>
            <div class="hide@lg main-footer__socials text-lg">
              <a href="/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="/" target="_blank"><i class="fab fa-medium-m"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4@lg">
        <p class="text-sm margin-bottom-0@lg margin-bottom-xs">Startscale is registered incorporated company in Singapore. UEN 2048569301</p>
        <div class="hide@lg d-flex font-weight-bold text-sm text-color-primary text-underline">
          <a href="/" class="margin-right-default">Terms of Service</a>
          <a href="/">Privacy Policy</a>
        </div>
      </div>
    </div>

    <div class="grid grid-gap-xxl padding-bottom-xxl align-items-end display@lg">
      <div class="col-4">
        <a href="#" class="text-sm font-weight-bold text-color-primary text-underline">Subscribe today and stay on budget</a>
      </div>

      <div class="col-4">
        <div class="grid grid-gap-lg align-items-end">
          <div class="col-4">
            <p class="text-sm font-weight-bold">Our Expert</p>
          </div>

          <div class="col-8">
            <div class="main-footer__socials text-lg">
              <a href="/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="/" target="_blank"><i class="fab fa-medium-m"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="d-flex font-weight-bold text-sm text-color-primary text-underline">
          <a href="/" class="margin-right-default">Terms of Service</a>
          <a href="/">Privacy Policy</a>
        </div>
      </div>
    </div>

    <div class="footer__colophon d-flex flex-row@md flex-column-reverse justify-content-between align-items-center@md">
      <p class="text-sm margin-top-0@md margin-top-sm">@2019 StartScale Pte Ltd, Singapore. All Rights Reserved.</p>

      <div class="main-footer__socials text-xl">
        <span><i class="fab fa-cc-mastercard"></i></span>
        <span><i class="fab fa-cc-visa"></i></span>
        <span><i class="fab fa-cc-paypal"></i></span>
        <span><i class="fab fa-cc-stripe"></i></span>
      </div>
    </div>
  </div>
</section>