{% set navItemsList = [
  {
    type: 'anchor',
    title: 'Features',
    url: '#features'
  },
  {
    type: 'anchor',
    title: 'Our Plans',
    url: '#our-plans'
  },
  {
    type: 'anchor',
    title: 'Our Works',
    url: '#our-works'
  },
  {
    type: 'anchor',
    title: 'FAQ',
    url: '#faq'
  },
  {
    type: 'page',
    title: 'Contact Sales',
    url: '/contact.html',
    icon: '/img/icons/ic-contact.svg'
  },
  {
    type: 'page',
    title: 'Log In',
    url: '/log-in.html',
    icon: '/img/icons/ic-login.svg'
  },
  {
    type: 'page',
    title: 'Sign Up',
    url: '/sign-up.html',
    icon: '/img/icons/ic-signup.svg'
  }
] %}

<header class="f-header js-f-header bg hide-nav hide-nav--fixed js-hide-nav js-hide-nav--main" data-nav-target-class="f-header--expanded">
  <div class="f-header__mobile-content container">
    <a href="#0" class="f-header__logo">
      <img src="/img/site-logo.svg" alt="logo">
    </a>

    <button class="reset anim-menu-btn js-anim-menu-btn f-header__nav-control js-tab-focus" aria-label="Toggle menu" data-theme="primary">
      <div class="anim-menu-btn__icon anim-menu-btn__icon--close">
        <img data-src="/img/icons/ic-menu-button.svg" alt="menu">
        <img data-src="/img/icons/ic-menu-button-close.svg" alt="menu">
      </div>
    </button>
  </div>

  <div class="f-header__nav" role="navigation">
    <div class="f-header__nav-grid justify-content-between@md container">
      <div class="f-header__nav-logo-wrapper">
        <a href="#0" class="f-header__logo">
          <img src="/img/site-logo.svg" alt="logo">
        </a>
      </div>
  
      <ul class="f-header__list">
        {% for item in navItemsList %}
          <li class="f-header__item">
            <a href="{{ item.url }}" class="f-header__link">
              {% if item.icon %}
                <img data-src="{{ item.icon }}" alt="{{ item.title }}" class="margin-right-xxs">
              {% endif %}
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>