<section class="section bg-default" data-theme="primary" data-bg="url('/img/objects/hero-portfolio.jpg')">
  <div class="section__inner container padding-y-xxxxl@lg padding-y-xl">
    <div class="max-width-sm margin-x-auto text-center">
      <h2 class="text-color-primary margin-bottom-xl@lg margin-bottom-md">Portfolio</h2>
      <p>Our design system ensures we produce high quality designs for clients, on brand, on time. <br> Check out our past client design work that boosted brand growth.</p>
    </div>
  </div>
</section>