{% set portfolioList = [
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "01 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "02 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "03 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "04 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "05 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "06 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-6.jpg",
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "01 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "01 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  },
  {
    image: "/img/objects/portfolio-1.jpg",
    title: "01 BAEMIN",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    details: {
      logo: "/img/objects/portfolio-1_logo.jpg",
      gallery: [
        "/img/objects/portfolio-1_gallery-1.jpg",
        "/img/objects/portfolio-1_gallery-2.jpg",
        "/img/objects/portfolio-1_gallery-3.jpg",
        "/img/objects/portfolio-1_gallery-4.jpg",
        "/img/objects/portfolio-1_gallery-5.jpg",
        "/img/objects/portfolio-1_gallery-6.jpg"
      ]
    }
  }
] %}

<section class="section">
  <div class="section__inner container padding-y-xxl@lg padding-y-lg">
    <div class="portfolio-list grid grid-gap-xl@lg grid-gap-lg">
      {% for item in portfolioList %}
        <div class="col-4@lg col-6@md">
          <div 
            class="portfolio-item" 
            data-title="{{ item.title }}"
            data-description="{{ item.description }}"
            data-details="{{ item.details | dump }}"
          >
            <div class="crop crop--fit width-100% rounded-lg shadow-all margin-bottom-md">
              <img data-src="{{ item.image }}" alt="{{ item.title }}" class="crop__content">
            </div>

            <div class="text-component">
              <p class="text-lg text-color-black font-weight-bold">{{ item.title }}</p>
              <p class="read-more js-read-more read-more--hide-button" data-characters="70">{{ item.description }}</p>
              <div class="d-flex align-items-center">
                <img data-src="/img/icons/ic-see-more.svg" style="height: 1.2em; margin-top: 0.4em;" alt="see-more" class="margin-right-xs margin-left-0">
                <a href="" aria-controls="modal-portfolio-details" class="portfolio__trigger text-color-black font-weight-bold text-underline-lower text-decoration-none" data-index="{{ loop.index0 }}">See more</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="portfolio__popup modal modal--animate-scale d-flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal" id="modal-portfolio-details">
      <div class="modal__content width-100% container bg-white rounded-lg shadow-all" role="alertdialog" aria-labelledby="modal-title" aria-describedby="modal-description">
        <div class="padding-y-xl@lg padding-y-default padding-x-xxxl@lg padding-x-container">
          <div class="grid grid-gap-xxl@lg grid-gap-lg">
            <div class="col-5@xl">
              <div class="d-flex flex-column align-items-start@xl align-items-center">
                <img data-src="{{ portfolioList[0].details.logo }}" alt="logo" class="portfolio-detail__logo rounded-circle margin-bottom-lg@lg margin-bottom-sm">
                <h2 class="portfolio-detail__title text-color-primary margin-bottom-lg@lg margin-bottom-sm">{{ portfolioList[0].title }}</h2>
                <p class="portfolio-detail__description">{{ portfolioList[0].description }}</p>
              </div>
            </div>

            <div class="col-7@xl">
              <div class="portfolio-detail__gallery grid grid-gap-sm">
                {% for item in portfolioList[0].details.gallery %}
                  <div class="col-4@lg col-6">
                    <div class="crop crop--fit width-100%">
                      <img data-src="{{ item }}" alt="gallery">
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- <button class="reset modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
                <i class="fas fa-times icon"></i>
              </button> -->
              <div class="margin-y-xl text-center text-right@lg">
                <button class="btn btn--primary reset js-modal__close js-tab-focus" type="submit">Close <i class="fas fa-chevron-right margin-left-sm icon-thin"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <button class="reset modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
        <i class="fas fa-times icon"></i>
      </button> -->
    </div>
  </div>
</section>