/* ==========================================================================
#LIST-INLINE
========================================================================== */

/**
* The list-inline object simply displays a list of items in one line.
*/

.list-inline {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--n-space-xs) calc(-1 * var(--space-unit));
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin: 0 var(--space-xs) var(--space-unit);
}
