.section__heading .divider {
  display: block;
  width: 75px;
  height: 4px;
  background-color: var(--color-accent);
  margin: 0 auto;
  border-width: 2px;
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);

  @include breakpoint(lg) {
    width: 149px;
  }
}

.section__heading span {
  color: var(--color-primary);
}

// #no-agency,
// #marketplace {
//   background-position: unset;

//   @include breakpoint(md) {
//     background-position: bottom;
//   }
// }

#home-hero {
  // height: 568px;
  background-size: 768px;
  background-position: bottom;

  @include breakpoint(md) {
    height: 1024px;
    background-size: 1440px;
  }

  @include breakpoint(xxl) {
    background-size: 100%;
  }
}

.section--features {
  background-size: 768px;
  background-position: top;

  @include breakpoint(md) {
    background-size: 1440px;
  }

  @include breakpoint(xxl) {
    background-size: 100%;
  }
}
