.section__heading .divider {
  display: block;
  width: 75px;
  margin: 0 auto;
  border-width: 2px;
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);

  @include breakpoint(lg) {
    width: 149px;
  }
}

.section__heading span {
  color: var(--color-primary);
}
