{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/home/1-hero.njk" %}
  {% include "partials/home/2-features.njk" %}
  {% include "partials/home/3-support.njk" %}
{% endblock %}
