{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/home/1-hero.njk" %}
  {% include "partials/home/2-features.njk" %}
  {% include "partials/home/3-support.njk" %}
  {% include "partials/home/4-follow.njk" %}
  {% include "partials/home/5-steps.njk" %}
  {% include "partials/home/6-no-agency.njk" %}
  {% include "partials/home/7-plans.njk" %}
{% endblock %}
