{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/home/1-hero.njk" %}
  {% include "partials/home/2-products.njk" %}
  {% include "partials/home/3-logistic.njk" %}
  {% include "partials/home/4-why-us.njk" %}
  {% include "partials/home/5-about-us.njk" %}
  {% include "partials/home/6-people.njk" %}
  {% include "partials/home/7-contact.njk" %}
{% endblock %}
